@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.App {
  display: flex;
  justify-content: center; 
  align-items: center;
  font-Family: 'Bangers', cursive;
  
}

.bg {
  width: 100vw;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("./923.jpg");

}


 

